In [28]:
!ls

Data_Prep.ipynb       images                placeholderSmiley.png
README.md             kanye.jpg             requirements.txt
app.py                newWebcam.py          testFlask
backup.py             oneShotLearning.csv

In [29]:
import pandas as pd
import numpy as np
import seaborn as sns

In [30]:
face_df = pd.read_csv("./oneShotLearning.csv")

In [39]:
print(face_df)

       name   left   top  timestamp  numPerson  personId
0    Si Han    484   184       2152          1         0
1    Si Han    484   184       2152          1         0
2    Si Han    484   184       2153          1         0
3    Si Han    484   184       2153          1         0
4    Si Han    484   184       2153          1         0
..      ...    ...   ...        ...        ...       ...
553  Si Han    684   188       2248          1         0
554  Si Han    684   188       2248          2         0
555  Suyash     96   320       2248          2         1
556  Si Han    684   188       2248          2         0
557  Suyash     96   320       2248          2         1

[558 rows x 6 columns]

In [34]:
numPerson = face_df["numPerson"].iloc[-1].item()
print(numPerson)
type(numPerson)

2

int

In [41]:
# Find max of timestamp
max_timestamp = face_df.iloc[-1, 3]
print(max_timestamp)

# Filter last 10 seconds frame
new_df = face_df[face_df.timestamp - max_timestamp > - 10]

2248

In [42]:
print(new_df)

       name   left   top  timestamp  numPerson  personId
485  Si Han    616   188       2239          1         0
486  Si Han    616   188       2239          1         0
487  Si Han    616   188       2239          1         0
488  Si Han    616   188       2239          2         0
489  Suyash    208   320       2239          2         1
..      ...    ...   ...        ...        ...       ...
553  Si Han    684   188       2248          1         0
554  Si Han    684   188       2248          2         0
555  Suyash     96   320       2248          2         1
556  Si Han    684   188       2248          2         0
557  Suyash     96   320       2248          2         1

[73 rows x 6 columns]

name_dict {
    name : {
        latestLeft:
        latestTop: 
        present: 
    }

}

In [47]:
# Find unique names
new_names = new_df.name.unique()
print(new_names)

['Si Han' 'Suyash']

In [48]:
name_dict = {}

In [50]:
# Find last occurence of name from the bottom
for name in new_names:
    # Get the latest left, top and presence
    latest_timestamp = new_df[new_df.name == name].iloc[-1, 3]
    latest_left = new_df[new_df.name == name].iloc[-1, 1]
    latest_top = new_df[new_df.name == name].iloc[-1, 2]
    if latest_timestamp == max_timestamp: 
        notDetected = 0
    else:
        notDetected = 1
    name_dict[name] = {
        "latest_timestamp" : latest_timestamp,
        "latest_left" : latest_left,
        "latest_top" : latest_top,
        "notDetected": notDetected
    }

In [52]:
print(name_dict)

{'Si Han': {'latest_timestamp': 2248, 'latest_left': 684, 'latest_top': 188}, 'Suyash': {'latest_timestamp': 2248, 'latest_left': 96, 'latest_top': 320}}